main {
	text-align: center;
}

board {
	border-style: groove;
	border-color: rgb(43, 97, 214);
	padding: 10rem;
}

multiple-choices {
	border-color: rgb(219, 10, 10);
	border-style: solid;
	/* padding: 50px; */
}

ul {
	border-color: rgb(4, 221, 33);
	border-style: solid;
	text-align: center;
}
multiple-choices > ul {
	border-color: black;
	border-style: solid;
	text-align: center;
}

button {
	width: 30rem;
	padding: 10px;
	margin: 3px;
	border-radius: 90px;
	height: 100%;
}
