details:hover {
	background-color: yellow;
}
body > ol {
	/* padding-left: 35rem; */
	text-align: center;
	margin-top: 2rem;
	padding-left: 1rem;
	display: flexbox;
	/* justify-content: center; */
	list-style: none;
}

button {
	background-color: teal;
	border-radius: 90px;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: black;
	font-weight: bold;
	color: whitesmoke;
	font-family: monospace;
}
section {
	border-style: groove;
	border-color: black;
	padding: 10px;
	margin-top: 10rem;
	text-align: center;
	font-family: monospace;
}

timer {
	border-style: dotted;
	border-color: black;
	font-size: xx-large;
	border-radius: 90px;
	/* margin-left: 90rem; */
	font-family: monospace;
	padding: 10px;
	display: flex;
	/* white-space: nowrap; */
	text-align: center;
	justify-content: right;
}

/* *
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
	/* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
	/* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
